<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wonder-weeks-calendar.com">
    <meta property="og:title" content="Wonder Weeks Calendar - wonder weeks leaps chart">
    <meta property="og:description" content="Babies go through 10 predictable 'leaps' in their cognitive development during the first 20 months of a baby's life. Fill in the date and get the wonder weeks calendar.">
    <meta property="og:image" content="http://i.imgur.com/bFW7Z65.png">

    <meta name="naver-site-verification" content="709c01f07e9f9c8da1caf200315e4c53afc88708" />

    <link rel="apple-touch-icon" sizes="114x114" href="face.ico">
    <link rel="shortcut icon" href="face.ico">
    <link rel="canonical" href="https://wonder-weeks-calendar.com">

    <title>Wonder Weeks Calendar - wonder weeks leaps chart</title>
    <meta name="description" content="Babies go through 10 predictable 'leaps' in their cognitive development during the first 20 months of a baby's life. Fill in the date and get the wonder weeks calendar.">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V1SLBVG5HT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-V1SLBVG5HT');
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/99608a65ef.js" crossorigin="anonymous"></script>
    <style>
      td.wonder {
        background: hsl(347, 90%, 96%);
        cursor: pointer;
      }
      td.today {
        background: hsl(217, 71%, 73%);
      }
      .footer {
        padding: 1rem 1.5rem 1rem;
      }
      #toggleButton {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div id="calendar">
      <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="javascript:void(0);">
            <img src="face.ico">
            Wonder Weeks Calendar
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" v-on:click="toggleMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>

        </div>
        <div :class="{'navbar-menu is-active': showMenu, 'navbar-menu': !showMenu}">
          <div class="navbar-end">


            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                description by week
              </a>

              <div class="navbar-dropdown">
                <a :class="'wonder ' + meta.title + ' navbar-item'" v-for="meta in wonderWeeksMeta" v-on:click="selectWonderWeeks">
                  {{ WONDER_WEEKS_DESC[meta.title].name }}
                </a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                language
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item" v-for="lang of languages" :href="'' + lang.key + '.html' + '?birthDate=' + birthDate">
                  {{lang.value}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <section class="section">
        <div class="container">
          <div v-bind:class="selectedWonderWeeks == 'wonder1'?'modal is-active':'modal'" >
            <div class="modal-background" v-on:click="close"></div>
            <div class="modal-content">
              <div class="box">
                <span class="title is-3">
                  [5 weeks] Changing Sensations
                </span>
                <hr/>
                <span class="title is-5">
                  At this time
                </span>
                <div>
                  Your newborn is “waking up”, becoming more alert, and noticing the world around her. This is understandably overwhelming for newborns!
                </div>
                <hr/>

                <span class="title is-5">
                  About sleep
                </span>
                <div>
                  This is when “the witching hour” usually starts – that period of fussiness from about about 5 – 10 or 11 p.m. Be available to cuddle baby often (wearing baby is a great idea at this time); you may also need to feed more frequently in the evening. Baby may also go through a growth spurt at this time. Finally, keep in mind that this wonder week overlaps a bit with the 6 week peak of fussiness.
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close" v-on:click="close"></button>
          </div>
          <div v-bind:class="selectedWonderWeeks == 'wonder2'?'modal is-active':'modal'" >
            <div class="modal-background" v-on:click="close"></div>
            <div class="modal-content">
              <div class="box">
                <span class="title is-3">
                  [8-9 weeks] Patterns
                </span>
                <hr/>
                <span class="title is-5">
                  At this time
                </span>
                <div>
                  Baby is beginning to recognize and create simple patterns in his world; he’ll practice moving his hands in the same way over and over, or make the same grunting sound again and again.
                </div>
                <hr/>

                <span class="title is-5">
                  About sleep
                </span>
                <div>
                  All this curiosity and alertness can make it hard for baby to settle and fall sleep, so be sure to make your nursery sleep-friendly – it should be dim and quiet. This is also a great time to begin working on simple sleep time routines – start doing the same patterns of events at nap time and bedtime.
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close" v-on:click="close"></button>
          </div>
          <div v-bind:class="selectedWonderWeeks == 'wonder3'?'modal is-active':'modal'" >
            <div class="modal-background" v-on:click="close"></div>
            <div class="modal-content">
              <div class="box">
                <span class="title is-3">
                  [12 weeks] Smooth Transitions
                </span>
                <hr/>
                <span class="title is-5">
                  At this time
                </span>
                <div>
                  Baby’s movements become smoother and more coordinated; baby also begins to recognize changes in her world, and the patterns of these changes (i.e. every time the dryer buzzer goes off, mom leaves the room).
                </div>
                <hr/>

                <span class="title is-5">
                  About sleep
                </span>
                <div>
                  Baby is getting squirmier at this age, and becoming more active – and that can mean changes to your sleep routine. Your baby may start breaking free of the swaddle. Some parents find that baby’s newfound ability to roll interferes with sleep – baby can roll from back to tummy, but not the other way around. Other parents notice that their babies settle into a semi-regular sleeping and feeding schedule at this age.
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close" v-on:click="close"></button>
          </div>
          <div v-bind:class="selectedWonderWeeks == 'wonder4'?'modal is-active':'modal'" >
            <div class="modal-background" v-on:click="close"></div>
            <div class="modal-content">
              <div class="box">
                <span class="title is-3">
                  [15-19 weeks] Events
                </span>
                <hr/>
                <span class="title is-5">
                  At this time
                </span>
                <div>
                  Baby is learning to recognize cause and effect, and to predict outcomes (i.e. ‘If I drop this toy, it will fall to the ground, and dad will come and pick it up’).
                </div>
                <hr/>

                <span class="title is-5">
                  About sleep
                </span>
                <div>
                  Welcome to the 4 month sleep regression! If baby’s sleep was predictable up to this point, it may all fall apart now. Continue to work on building consistent sleep routines; this will help baby learn that certain events mean sleep is coming. You may also want to work on identifying any sleep associations baby may have; that will help with sleep training. There’s also another growth spurt that happens around 4 months.
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close" v-on:click="close"></button>
          </div>
          <div v-bind:class="selectedWonderWeeks == 'wonder5'?'modal is-active':'modal'" >
            <div class="modal-background" v-on:click="close"></div>
            <div class="modal-content">
              <div class="box">
                <span class="title is-3">
                  [23-26 weeks] Relationships
                </span>
                <hr/>
                <span class="title is-5">
                  At this time
                </span>
                <div>
                  Baby begins to perceive distance at this point – the world becomes a much bigger place for her! This may be one reason why many babies begin rolling/crawling at this time.
                </div>
                <hr/>

                <span class="title is-5">
                  About sleep
                </span>
                <div>
                  Separation anxiety may become a problem at nap time and bedtime, since baby now understands that when you leave, you’re far away. This is also a great time to sleep train your baby – work on weaning your baby away from her sleep associations, and on helping her learn to fall asleep independently. Finally, there’s yet another growth spurt that happens around 6 months, for most babies.
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close" v-on:click="close"></button>
          </div>
          <div v-bind:class="selectedWonderWeeks == 'wonder6'?'modal is-active':'modal'" >
            <div class="modal-background" v-on:click="close"></div>
            <div class="modal-content">
              <div class="box">
                <span class="title is-3">
                  [33-37 weeks] Categories
                </span>
                <hr/>
                <span class="title is-5">
                  At this time
                </span>
                <div>
                  Baby is learning that various things can be grouped together – for example, his blocks may all look different, but he recognizes that they are all blocks. Baby also makes big strides in mobility, learning to crawl well, to pull up to standing, and possibly to take assisted steps.
                </div>
                <hr/>

                <span class="title is-5">
                  About sleep
                </span>
                <div>
                  This Wonder Week coincides with the 8/9/10 month sleep regression. Baby’s sleep may be seriously disrupted, thanks to all his new-found mobility. But baby may also begin to experiment with cause and effect at sleep times – ‘If I cry, what will mom do?’ Your baby will quickly pick up on any patterns, so make sure not to create any new sleep associations at this stage. Finally, if baby is still waking to feed at night at this age, we usually recommend an attempt at night-weaning. (Oh, and P.S. – there is (you guessed!) another growth spurt to watch out for, around 9 months.)
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close" v-on:click="close"></button>
          </div>
          <div v-bind:class="selectedWonderWeeks == 'wonder7'?'modal is-active':'modal'" >
            <div class="modal-background" v-on:click="close"></div>
            <div class="modal-content">
              <div class="box">
                <span class="title is-3">
                  [42-46 weeks] Sequences
                </span>
                <hr/>
                <span class="title is-5">
                  At this time
                </span>
                <div>
                  Baby begins recognizing the steps involved in simple tasks, like getting dressed, or making lunch. Baby can also apply this to his own tasks – socks have to go on before shoes.
                </div>
                <hr/>

                <span class="title is-5">
                  About sleep
                </span>
                <div>
                  Routines are so key at this stage; most babies love knowing what comes next, so work to continue strengthening your sleep routines. You may find that your baby goes through the brief 12 month sleep regression around this time, and tries to give up her morning nap; we advise that you stick to two naps for now, as most babies this age can’t manage with just one nap.
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close" v-on:click="close"></button>
          </div>
          <div v-bind:class="selectedWonderWeeks == 'wonder8'?'modal is-active':'modal'" >
            <div class="modal-background" v-on:click="close"></div>
            <div class="modal-content">
              <div class="box">
                <span class="title is-3">
                  [52-55 weeks] Programs
                </span>
                <hr/>
                <span class="title is-5">
                  At this time
                </span>
                <div>
                  Your toddler builds on his understanding of sequences, and starts to learn that there is more than one way (or one “sequence”) to accomplish the same task. This is also when most toddlers start showing strong preferences (i.e. pink socks are great, but green socks are bad).
                </div>
                <hr/>

                <span class="title is-5">
                  About sleep
                </span>
                <div>
                  Welcome to toddlerhood, parents! At this stage, separation anxiety often comes back with a vengeance. You may also start to see some nap time and bedtime resistance at this point, as your toddler is learning to assert his independence and preferences.
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close" v-on:click="close"></button>
          </div>
          <div v-bind:class="selectedWonderWeeks == 'wonder9'?'modal is-active':'modal'" >
            <div class="modal-background" v-on:click="close"></div>
            <div class="modal-content">
              <div class="box">
                <span class="title is-3">
                  [61-64 weeks] Principles
                </span>
                <hr/>
                <span class="title is-5">
                  At this time
                </span>
                <div>
                  This stage is related to the cause-and-effect breakthrough we saw in the 15-19 week stage, only now, your toddler is learning how to use cause-and-effect to achieve her goals. She is also learning that her actions have certain consequences
                </div>
                <hr/>

                <span class="title is-5">
                  About sleep
                </span>
                <div>
                  It’s time to talk about the D-word, parents – discipline. Your toddler is learning fast how you respond to her actions, so be sure that you are sending the right messages with your responses. This is the time to start establishing boundaries and setting limits for your toddler surrounding sleep, and enforcing them. We often tell parents that at this age, sleep problems are rarely sleep problems – they are discipline problems.
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close" v-on:click="close"></button>
          </div>
          <div v-bind:class="selectedWonderWeeks == 'wonder10'?'modal is-active':'modal'" >
            <div class="modal-background" v-on:click="close"></div>
            <div class="modal-content">
              <div class="box">
                <span class="title is-3">
                  [72-76 weeks] Systems
                </span>
                <hr/>
                <span class="title is-5">
                  At this time
                </span>
                <div>
                  Your toddler is capable of understanding larger systems now – for instance, she knows that the procedures and expectations at daycare are different than those at home. Your toddler can also change her behavior and actions to suit different situations, which explains why your toddler may be sweet and helpful for the babysitter, but grumpy and whiny for you (which is not at all uncommon, by the way!).
                </div>
                <hr/>

                <span class="title is-5">
                  About sleep
                </span>
                <div>
                  If it hasn’t already, your toddler’s ‘toddler attitude’ may show itself full-force around this time. Continue to enforce your sleep time boundaries and limits. By 17 or 18 months, tantrums are common. Toddler tantrums at bedtime and nap time are especially frustrating – it’s key that you stand firm during these tantrums. Also, watch for the 18 month sleep regression that happens at about this time; it tends to be one of the toughest.
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close" v-on:click="close"></button>
          </div>
          <div class="notification is-danger" v-if="isDisAllowedBrowser">
            You may fail to log into your Google account inside KakaoTalk.
            <div>
              <a href="googlechromes://pumped-citrine-weeder.glitch.me/">Open in chrome</a>
              <a href="javascript:void(0);" v-on:click="copyUrl">Copy URL<i v-if="copying" class="fas fa-check"></i></a>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Due Date<br/><small class="has-text-info">(Based on the due date, not the birth date)</small></label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="date" v-model="birthDate" v-on:change="changeBirthDate">
                </p>
              </div>
            </div>
          </div>
          <div v-if="birthDate">
            <div>
              <div class="title is-4 has-text-danger" v-if="dateIsWonderWeeks(new Date(new Date().getFullYear(),new Date().getMonth() , new Date().getDate()),0,0,0)"> * Today is wonder weeks.</div>
              <div class="title is-4 has-text-success" v-else> * Today is not wonder weeks.</div>
            </div>

            <div class="has-text-right">
              <button class="button is-link is-small" v-on:click="addEventsWithIcs">Add to Calendar from ICS file</button>
              <button id="authorize_button" class="button is-primary is-small" v-if="!isSignedIn" v-on:click="signIn">Log in to add Wonder Weeks Calendar</button>
              <button id="add_button" class="button is-link is-small" v-if="isSignedIn" v-on:click="addEvents">Add to Google Calendar</button>
              <button id="signout_button" class="button is-danger is-small" v-if="isSignedIn" v-on:click="signOut">Log out</button>
            </div>

            <div class="has-text-right">
              <span id="toggleButton"  v-on:click="showPrevMonth = !showPrevMonth">
                <i v-if="!this.showPrevMonth" class="fas fa-toggle-off" >Show past calendar</i>
                <i v-else class="fas fa-toggle-on">Hide past calendar</i>
              </span>
            </div>

            <div v-for="monthylCalendar of monthylCalendars">
              <div v-if="!isPrevMonth(monthylCalendar.date)" class="mb-6">
                <div class="title is-5 has-text-weight-bold has-text-centered mb-2">{{monthylCalendar.date | dateToYYYYMM(language)}}</div>
                <table class="table is-bordered is-fullwidth">
                  <thead>
                    <tr>
                      <th class="has-text-danger">S</th>
                      <th>M</th>
                      <th>T</th>
                      <th>W</th>
                      <th>T</th>
                      <th>F</th>
                      <th class="has-text-link">S</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="week of monthylCalendar.weeks">
                      <td v-for="day of week" v-bind:class="dateToClass(day)" v-on:click="selectWonderWeeks">{{day | dateToDD}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div v-bind:class="pendingAddEvent ? 'modal is-active' : 'modal'">
              <div class="modal-background"></div>
            </div>
          </div>
          <div v-else>
            <span class="title is-5">
              Please choose the correct due date!
            </span>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="content has-text-centered">
          <div>
            Wonder Weeks explanations are from babysleepsite.com.
          </div>
          <div>
            serendip811@gmail.com
          </div>
          <div class="title is-7">
            This webpage does not collect or store any information related to your Google account and calendar.
          </div>

        </div>
      </footer>
    </div>
    <script type="text/javascript">
      const defaultLanguage = "en"
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="lang.js"></script>
    <script src="ics.deps.min.js"></script>
    <script src="wwc.js"/>
    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
  </body>
</html>
